# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/

# misc
.DS_Store
.parcel-cache
haters
.env
.vscode
.cache

# package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npmrc

# sqlite
*.sqlite